.foodsub__services {
  padding: 0 5rem;
  color: #333;
}

.foodsub__service_cards {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.foodsub__service_cards-card {
  flex-basis: 20%;
  text-align: center;
  margin: 16px 2.5%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 265px;
 
}

.foodsub__services h2 {
  color: #333333;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  margin-bottom: 30px;
}

.foodsub__services p {
  color: #333333;
  font-size: 18px;
  line-height: 22px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.foodsub__services .foodsub__services-sub {
  margin-bottom: 60px;
}

.foodsub__services .foodsub__services-desc {
  font-size: 16px;
  line-height: 19.5px;
  margin-top: 20px;
}

@media screen and (max-width: 960px) {
  .foodsub__service_cards-card {
    flex-basis: 28%;
  }
}

@media screen and (max-width: 740px) {
  .foodsub__services {
    padding: 0 3rem;
  }

  .foodsub__services .foodsub__services-sub {
    width: 100%;
  }

  .foodsub__service_cards-card {
    flex-basis: 40%;
  }
}

@media screen and (max-width: 480px) {
  .foodsub__service_cards-card {
    flex-basis: 80%;
  }
}
