.foodsub__about {
  text-align: center;
  padding: 6.25rem 5rem 0;
}

.foodsub__about h2 {
  color: #333333;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 12px;
}

.foodsub__about-content {
  display: flex;
  align-items: center;
}

.foodsub__about-content_text {
  text-align: left;
  padding: 0 5rem;
  width: 50%;
  margin-left: auto;
}

.foodsub__about-content_text p {
  color: #333333;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 2rem;
}

.foodsub__about-content_img {
  margin-right: auto;
}

.foodsub__about-content_img img {
  width: 100%;
}

@media screen and (max-width: 960px) {
  .foodsub__about {
    padding: 6.25rem 3rem;
  }
  
  .foodsub__about-content {
    flex-direction: column-reverse;
  }

  .foodsub__about-content_text {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  
  .foodsub__about-content_img {
    margin-right: 0;
  }
}

@media screen and (max-width: 410px) {
  .foodsub__about-content_text button {
    width: 100%;
  }
}
