.foodsub__cta {
  background: url(../../assets/cta.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 6.25rem 5rem;
  color: #333;
  height: 400px;
}

.foodsub__cta h2 {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: #fff;
  margin: 20px;
}


.foodsub__cta h3 {
  text-align: center;
  font-weight: 200;
  font-size: 40px;
  line-height: 49px;
  color: #fff;
  margin: 20px;
}

.foodsub__cta-input_fields {
  display: flex;
  justify-content: center;
}

.foodsub__cta-email_group {
  position: relative;
}

.foodsub__cta-email_group img {
  position: absolute;
  left: 10%;
  top: 25%;
}

.foodsub__cta-input_fields input {
  height: 44px;
  width: 335px;
  margin-right: -18px;
  text-align: center;
  border: 1px solid #e5e5e5;
  border-radius: 15px;
}

@media screen and (max-width: 650px) {

  .foodsub__cta {
    padding: 6.25rem 3rem;
  }

  .foodsub__cta-input_fields {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .foodsub__cta-email_group,
  .foodsub__cta-email_group input {
    width: 100%;
    margin-bottom: 10px;
  }

  .foodsub__cta-email_group button {
    height: 100px;
  }
}
