.foodsub__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6.5rem;
}

.foodsub__navbar-navitems {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.foodsub__navbar-navitems_links {
  display: flex;
  list-style: none;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.foodsub__navbar-navitems_links li {
  color:#272727;
  font-size: 18px;
  line-height: 22px;
  margin: 22px;
}

.foodsub__navbar-navitems_buttons {
  display: flex;
  align-items: center;
}

.foodsub__navbar-navitems_buttons button:nth-child(1){
  margin-right: 16px;
}

.link {
  color: #333;
}

@media screen and (min-width: 1051px) {
  .foodsub__navbar svg {
    display: none;
  }
}

@media screen and (max-width: 1050px) {
  .foodsub__navbar-navitems {
    display: none;
  }

  .foodsub__navbar {
    padding: 1rem 3.5rem;
  }

  .nav__menu-container {
    position: absolute;
    top: 10%;
    right: 0;
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    opacity: 0.9;
  }

  .foodsub__navbar-navitems_links {
    flex-direction: column;
  }
}

.scale-up-hor-center {
	-webkit-animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
@keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
