.foodsub__header {
  height: 100vh;
  background-image: url('../../assets/headerimg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.foodsub__header-content {
  color: #fff;
  padding: 11rem 10rem;
  text-align: center;
}

.foodsub__header-content h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  /* padding: 0 12rem; */
  margin-bottom: 30px;
}

.foodsub__header-content p {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 0 10rem;
  margin-bottom: 56px;
}

@media screen and (max-width: 1050px) {
  .foodsub__header-content {
    padding: 6rem 3rem;
  }

  .foodsub__header-content h1 {
    font-size: 28px;
  }

  .foodsub__header-content p {
    padding: 0;
  }
}